---
layout: default
title: Automatisk dokumentgennemgang med AI
description: "Færre fejl, mindre tidsspild – mere tid til dine kunder. Klerk hjælper dig med nemt at finde og forstå vigtige oplysninger i store dokumentmængder."
benefits:
  - label: 'Skab overblik'
    icon: 'file-text'
    description: 'Klerk læser alle dine dokumenter så du får overblikket over dine sager.'
  - label: 'Reducer fejl'
    icon: 'list-checks'
    description: 'Klerk er designet til at finde alle de vigtige oplysninger, så du undgår fejl.'
  - label: 'Spar tid'
    icon: 'clock'
    description: 'Lad Klerk gøre det hårde arbejde, så du kan frigive tid til dine kunder.'
documents:
  - name: 'Købsaftale (underskrevet).pdf'
    size: '1.2 MB'
  - name: 'Servitut nr 32.pdf'
    size: '2.3 MB'
  - name: 'Tilstandsrapport.pdf'
    size: '1.4 MB'
metrics:
  - label: 'Overtagelsesdato'
    value: '1. marts 2025'
  - label: 'Dispositionsret'
    value: '1. februar 2025'
  - label: 'Kontantpris'
    value: '3.200.000 kr'
  - label: 'Udbetaling'
    value: '200.000 kr'
  - label: 'Dato for udbetaling'
    value: '1. april 2025'
questions:
  - label: 'Hvad er Klerk?'
    answer: 'Klerk er en AI-assisteret dokumentgennemgangsplatform, der gør det nemt at finde og forstå vigtige oplysninger i komplekse dokumenter. Med Klerk kan du spare tid og reducere fejl ved at automatisere processen og give dig overblik over sagens indhold.'
  - label: 'Hvordan fungerer Klerk?'
    answer: 'Klerk fungerer ved at du uploader dokumenterne til platformen, og Klerk bruger AI til at gennemgå dokumenterne og finde de vigtige oplysninger. Du kan derefter få en oversigt over dokumenterne og de vigtige oplysninger, samt få forklaringer på hvordan de er fundet.'
  - label: 'Virker Klerk med alle typer af ejendomme?'
    answer: 'Klerk kan på nuværende tidspunkt kun bruges på ejerboliger herunder villaer. Vi planlægger at udvide til alle andre typer ejendomme i den nærmeste fremtid.'
  - label: 'Hvordan sikrer Klerk datasikkerheden?'
    answer: 'Klerk er designet med datasikkerhed i topklasse. Vi bruger de seneste krypterings- og sikkerhedsprotokoller for at sikre, at dine data er sikre. Desuden er alle data gemt på sikre servere i EU.'
  - label: 'Er Klerk GDPR-kompatibel?'
    answer: "Ja, Klerk er kompatibel med GDPR. Vi sikrer, at alle data, der behandles gennem platformen, overholder de gældende regler. Du finder vores DPA og Fortrolighedspolitik nederst i 'footeren' på denne side."
  - label: 'Hvordan kan jeg få adgang til Klerk?'
    answer: 'Du kan få adgang til Klerk ved at klikke på knappen "Anmod om adgang" i navigationen øverst på siden. Herefter vil vi række ud til dig, så vi kan hjælpe dig med at komme i gang.'
  - label: 'Hvad koster Klerk?'
    answer: 'Klerk er gratis at bruge i den tid, hvor vi stadig er i beta-test. Efter beta-testen vil vi have en pris på Klerk, som vil være afhængig af hvor meget du bruger Klerk. Du kommer således aldrig til at betale mere end den værdi Klerk giver dig.'
---

<!-- Hero -->
<div class="flex flex-col gap-y-32 py-32 px-4 hyphens-auto">
  <section class="container max-w-screen-xl mx-auto">
    <div class="flex flex-col gap-y-10 text-center mt-12">
      <h1 class="text-5xl md:text-7xl text-balance">
        Gennemgå dine dokumenter på rekordtid med AI
      </h1>
      <p class="text-2xl text-stone-400 text-balance max-w-screen-md mx-auto">
        Lad Klerk gøre det hårde arbejde. Vi automatiserer dokumentgennemgang, reducerer fejl, og frigiver tid til rådgivning af dine kunder.
      </p>
      <div class="flex items-center justify-center gap-x-8">        
        <div class="flex items-center gap-x-2">
          <span data-lucide="shield-check" class="w-5 h-5 inline-block text-neutral-800"></span>
          <span>
            Sikkert
          </span>
        </div>
        <div class="flex items-center gap-x-2">
          <span data-lucide="goal" class="w-5 h-5 inline-block text-neutral-800"></span>
          <span>
            Præcist
          </span>
        </div>
        <div class="flex items-center gap-x-2">
          <span data-lucide="rabbit" class="w-5 h-5 inline-block text-neutral-800"></span>
          <span>
            Hurtigt
          </span>
        </div>
      </div>
    </div>
  </section>
  <section class="container max-w-screen-2xl mx-auto flex flex-col">
    <div class="flex items-center justify-center rounded-none sm:rounded-3xl sm:aspect-[15/9] bg-transparent sm:bg-stone-200/30 overflow-hidden">
      <img src="{{ site.baseurl }}/assets/images/screen_01.png" alt="" class="w-full md:w-10/12 max-w-full h-auto object-center rounded-sm sm:rounded-md border border-neutral-200 shadow-xl shadow-stone-200/50">
    </div>
  </section>
  <section class="hidden container max-w-screen-xl mx-auto">
    <h2 class="text-2xl text-center mb-10">Trusted by:</h2>
    <div class="flex gap-x-4">
      {% for i in (1..10) %}
      <div class="w-24">
        <div class="bg-stone-200 aspect-video rounded-3xl"></div>
      </div>
      {% endfor %}
    </div>
  </section>
  <section id="about" class="hidden container max-w-screen-xl mx-auto flex flex-col md:flex-row gap-8">
    <div class="flex flex-col gap-y-4 w-full md:w-1/3">
      <div class="bg-stone-200 aspect-[4/3] rounded-3xl overflow-hidden">
        <img src="{{ site.baseurl }}/assets/images/karina.jpeg" alt="" class="w-full h-full object-cover object-top">
      </div>
    </div>
    <div class="rounded-3xl w-full md:w-2/3 flex flex-col gap-y-8">
      <div class="hidden md:block">
        <img src="https://www.nybolig.dk/assets/img/logo/nybolig/logo.svg" alt="" class="h-10 w-auto">
      </div>
      <p class="text-4xl md:text-5xl hyphens-none text-balance">
        "Jeg sparer timevis af arbejde og kan give mine kunder bedre og mere præcis rådgivning – det føles fantastisk!"
      </p>
      <p class="text-lg text-stone-400 order-first md:order-none">
        <span class="font-medium text-stone-500">Karina Helene Risbjerg</span><br>
        Køberrådgiver hos Nybolig
      </p>
    </div>
  </section>
  <section class="container max-w-screen-xl mx-auto">
    <div class="flex flex-col md:flex-row gap-4">
      {% for benefit in page.benefits %}
        <div class="basis-full md:basis-1/3">
          <div class="border border-neutral-200/80 rounded-3xl aspect-video flex flex-col gap-y-4 justify-center p-8">
            <h4 class="text-xl">
              <span data-lucide="{{ benefit.icon }}" class="w-5 h-5 inline-block mr-2"></span>
              {{ benefit.label }}
            </h4>
            <p class="text-lg text-stone-600">
              {{ benefit.description }}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
  <section class="hidden bg-westar-100 py-20 -mx-4 md:mx-0 px-4 md:px-0">
    <div class="container max-w-screen-xl mx-auto flex flex-col gap-y-20">
      <div class="flex flex-col md:flex-row gap-x-10">
        <div class="w-full md:w-1/2">
          <h2 class="text-5xl text-balance">
            Know it all
          </h2>
        </div>
        <div class="w-full md:w-1/2">
          <p class="text-lg text-stone-600">
            Klerk is a game-changer for our due diligence process. It's faster and more accurate than anything we've used before.
          </p>
        </div>
      </div>
      <div x-data="{ selected: 1 }" class="flex flex-col md:flex-row gap-x-10 gap-y-4">
        <div class="w-full md:w-1/3">
          <div class="flex flex-col gap-y-0.5">
            <div role="button" tabindex="0" x-on:click="selected = 1" x-bind:class="selected === 1 ? 'bg-neutral-50' : 'bg-transparent'" class="flex flex-col rounded-3xl hover:bg-neutral-50 py-4 px-6 transition duration-500 ease-in-out">
              <h3 class="text-xl text-balance flex items-center">
                <span data-lucide="goal" class="w-5 h-5 inline-block mr-2"></span>
                Key Metrics
              </h3>
              <p x-bind:class="selected === 1 ? 'max-h-56 pt-4 opacity-100' : 'max-h-0 opacity-0'" class="overflow-hidden transition-[max-height] transition-opacity duration-100 ease-in-out">
                Klerk is a game-changer for our due diligence process. It's faster and more accurate than anything we've used before.
              </p>
            </div>
            <div role="button" tabindex="0" x-on:click="selected = 2" x-bind:class="selected === 2 ? 'bg-neutral-50' : 'bg-transparent'" class="flex flex-col rounded-3xl hover:bg-neutral-50 py-4 px-6 transition duration-500 ease-in-out">
              <h3 class="text-xl text-balance flex items-center">
                <span data-lucide="file-text" class="w-5 h-5 inline-block mr-2"></span>
                Summaries
              </h3>
              <p x-bind:class="selected === 2 ? 'max-h-56 pt-4 opacity-100' : 'max-h-0 opacity-0'" class="overflow-hidden transition-[max-height] transition-opacity duration-100 ease-in-out">
                Klerk is a game-changer for our due diligence process. It's faster and more accurate than anything we've used before.
              </p>
            </div>
            <div role="button" tabindex="0" x-on:click="selected = 3" x-bind:class="selected === 3 ? 'bg-neutral-50' : 'bg-transparent'" class="flex flex-col rounded-3xl hover:bg-neutral-50 py-4 px-6 transition duration-500 ease-in-out">
              <h3 class="text-xl text-balance flex items-center">
                <span data-lucide="list-checks" class="w-5 h-5 inline-block mr-2"></span>
                Lists
              </h3>
              <p x-bind:class="selected === 3 ? 'max-h-56 pt-4 opacity-100' : 'max-h-0 opacity-0'" class="overflow-hidden transition-[max-height] transition-opacity duration-100 ease-in-out">
                Klerk is a game-changer for our due diligence process. It's faster and more accurate than anything we've used before.
              </p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-2/3 order-first md:order-none">
          <div class="bg-neutral-50 aspect-[4/3] rounded-3xl flex items-center justify-center">
            <div x-show="selected === 1" x-transition:enter-start="opacity-0 scale-90" x-transition:enter="ease-out transition-slow" x-transition:enter-end="opacity-100 scale-100" class="w-10/12 ease-in-out duration-300">
              <div class="flex items-center gap-x-4 border border-neutral-300/60 rounded-3xl p-4">
                <div class="flex items-center justify-center bg-green-700 rounded-full p-2"><span data-lucide="check" class="w-5 h-5 inline-block text-white"></span></div>
                <p class="grow text-xl text-neutral-600">
                  Hvornår udløber tilstandsrapporten?
                </p>
                <span class="text-neutral-600 px-4 py-2 bg-white rounded-3xl">
                  1. januar 2024
                </span>
              </div>
            </div>
            <div x-show="selected === 2" x-transition:enter-start="opacity-0 scale-90" x-transition:enter="ease-out transition-slow" x-transition:enter-end="opacity-100 scale-100" class="w-10/12 ease-in-out duration-300">
              <div class="flex items-start gap-x-4 border border-neutral-200 rounded-3xl p-4">
                <div class="flex items-center justify-center bg-green-700 rounded-full p-2"><span data-lucide="check" class="w-5 h-5 inline-block text-white"></span></div>
                <div class="grow flex flex-col gap-y-4">
                  <p class="h-5 my-2 leading-none text-xl text-neutral-600">
                    Indeholder ejerskifteforsikringen forbehold?
                  </p>
                  <span class="text-neutral-600 px-4 py-2 bg-white rounded-2xl">
                    Aliquip occaecat mollit cillum officia pariatur exercitation labore magna nisi sunt sit magna duis. Culpa est sunt voluptate tempor ut cupidatat voluptate. Laborum cupidatat labore ex aute esse proident minim reprehenderit laborum aute ex et incididunt tempor veniam. Deserunt nulla proident sit aute et mollit id aliquip. Dolore sunt cillum officia amet anim. Cillum est excepteur non eiusmod proident. Et sint labore exercitation et occaecat qui irure dolore eiusmod non aliqua sit sunt aliqua minim.
                  </span>
                </div>
              </div>
            </div>
            <div x-show="selected === 3" x-transition:enter-start="opacity-0 scale-90" x-transition:enter="ease-out transition-slow" x-transition:enter-end="opacity-100 scale-100" class="w-10/12 ease-in-out duration-300">
              <img src="{{ '/assets/images/list.png' | relative_url }}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="product" class="container max-w-screen-xl mx-auto flex flex-col gap-y-20">
    <div class="flex flex-col md:flex-row gap-10">
      <div class="w-full md:w-1/2">
        <h2 class="text-5xl text-balance">
          Fremtidens dokumentgennemgang
        </h2>
      </div>
      <div class="w-full md:w-1/2">
        <p class="text-lg text-stone-600">
          Det bliver ikke lettere at finde de vigtige oplysninger i dokumenterne. Klerk er designet til at fjerne alt det hårde arbejde, så du kan fokusere på de vigtige oplysninger.
        </p>
      </div>
    </div>
    <div class="flex flex-col md:flex-row items-center gap-x-10 gap-y-6">
      <div class="flex flex-col gap-4 w-full md:w-1/2">
        <div class="flex items-center gap-x-4">
          <span class="w-10 h-10 bg-neutral-800 text-white rounded-full flex items-center justify-center text-2xl">1</span>
          <h3 class="text-2xl text-balance">
            Upload sagens dokumenter
          </h3>
        </div>
        <p class="text-lg text-stone-600 md:w-4/5">
          Klerk analyserer hurtigt og præcist alt indhold - fra købsaftale og rapporter til alle relevante servitutter og andre dokumenter.
        </p>
      </div>
      <div class="w-full md:w-1/2 md:order-first">
        <div class="bg-stone-200/50 aspect-video rounded-3xl flex items-center justify-center p-4">
          <div class="w-full sm:w-10/12 flex flex-col gap-y-2 scale-90 sm:scale-100">
            {% for document in page.documents %}
              <div class="flex items-stretch gap-x-4 bg-white rounded-3xl p-4">
                <div class="flex items-center justify-center"><span data-lucide="file-check-2" class="w-10 h-8 stroke-1 inline-block text-green-800"></span></div>
                <div class="grow flex flex-col">
                  <p class="grow text-lg text-neutral-600">
                    {{ document.name }}
                  </p>
                  <span class="text-neutral-400 text-sm">
                    {{ document.size }}
                  </span>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col md:flex-row items-center gap-x-10 gap-y-6">
      <div class="flex flex-col gap-4 w-full md:w-1/2">
        <div class="flex items-center gap-x-4">
          <span class="w-10 h-10 bg-neutral-800 text-white rounded-full flex items-center justify-center text-2xl">2</span>
          <h3 class="text-2xl text-balance">
            Få overblikket
          </h3>
        </div>
        <p class="text-lg text-stone-600 md:w-4/5">
          Du får nemt et overskueligt overblik over alle relevante oplysninger i sagens dokumenter.
        </p>
      </div>
      <div class="w-full md:w-1/2">
        <div class="bg-stone-200/50 aspect-video rounded-3xl flex items-center justify-center p-4">
          <div class="w-full sm:w-10/12 flex flex-col divide-y divide-neutral-200/80 scale-90 sm:scale-100">
            {% for metric in page.metrics %}
              <div class="flex items-center gap-x-4 rounded-3xl py-2">
                <div class="flex items-center justify-center rounded-full bg-green-600 p-1"><span data-lucide="check" class="w-4 h-4 inline-block text-white"></span></div>
                <div class="grow flex flex-col">
                  <p class="grow text-xl text-neutral-600">
                    {{ metric.label }}
                  </p>
                </div>
                <div class="w-1/3 bg-white rounded-xl p-2 flex items-center justify-end">
                  <span class="text-neutral-600 text-sm">
                    {{ metric.value }}
                  </span>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col md:flex-row items-center gap-x-10 gap-y-6">
      <div class="flex flex-col gap-4 w-full md:w-1/2">
        <div class="flex items-center gap-x-4">
          <span class="w-10 h-10 bg-neutral-800 text-white rounded-full flex items-center justify-center text-2xl">3</span>
          <h3 class="text-2xl text-balance">
            Dyk ned i detaljerne
          </h3>
        </div>
        <p class="text-lg text-stone-600 md:w-4/5">
          Klerk giver dig altid mulighed for at se hvordan systemet har fundet oplysningerne, så du kan kontrollere og forstå resultaterne.
        </p>
      </div>
      <div class="w-full md:w-1/2 md:order-first">
        <div class="bg-stone-200/50 aspect-video rounded-3xl flex items-center justify-center p-4">
          <div class="w-full sm:w-10/12 flex flex-col gap-y-4 scale-90 sm:scale-100">
            <div class="flex flex-col gap-y-4">
              <div>
                <h4 class="text-sm font-medium text-stone-500 mb-1">
                  Forklaring
                </h4>
                <p class="text-stone-600">
                  Jeg har kigget sagens dokumenter igennem og kan konkludere jf. Købsaftalen, at overtagelsesdatoen er fastsat til den 1. marts 2025.
                </p>
              </div>
              <div class="flex flex-col gap-y-2">
                <h4 class="text-sm font-medium text-stone-500 mb-1">Kilder</h4>
                <div>
                  <div class="border border-stone-300/80 rounded-xl p-2 flex items-center justify-between">
                    <p class="text-stone-600">
                      Købsaftale (underskrevet).pdf
                    </p>
                    <span class="text-neutral-400 text-sm">Side 14</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-zinc-800 py-32 -mx-4">
    <div class="container max-w-screen-xl mx-auto px-4 flex flex-col gap-y-20">
      <div class="flex flex-col md:flex-row gap-10">
        <div class="w-full md:w-1/2">
          <h2 class="text-5xl text-balance text-stone-50">
            Sikkerhed i topklasse
          </h2>
        </div>
        <div class="w-full md:w-1/2 flex flex-col gap-y-2">
          <p class="text-lg text-stone-50">
            Datasikkerhed er vores højeste prioritet. Vi bruger de seneste krypterings- og sikkerhedsprotokoller for at sikre, at dine data er sikre.
          </p>
          <p class="text-zinc-400">
            Lær mere om, hvordan vi beskytter dine data, i vores <a href="{{ '/legal/privacy' | url }}" class="underline">Privatlivspolitik</a> og <a href="{{ '/legal/dpa' | url }}" class="underline">DPA</a>.
          </p>
        </div>
      </div>
      <div class="flex flex-col md:flex-row gap-10">
        <div class="w-full md:w-1/2">
          <div class="bg-stone-200/30 aspect-[4/3] rounded-3xl overflow-hidden">
            <img src="{{ '/assets/images/working_01.jpg' | relative_url }}" alt="" class="w-full h-full object-cover object-bottom">
          </div>
        </div>
        <div class="w-full md:w-1/2">
          <div x-data="{ selected: 1 }" class="flex flex-col gap-y-0.5 text-stone-50">
            <div role="button" tabindex="0" x-on:click="selected = 1" x-bind:class="selected === 1 ? 'bg-stone-50/10' : 'bg-transparent'" class="flex flex-col rounded-3xl hover:bg-stone-50/10 py-4 px-6 transition duration-200 ease-in-out">
              <h3 class="text-xl text-balance flex items-center">
                <span data-lucide="globe" class="w-5 h-5 inline-block mr-2"></span>
                Baseret i EU
              </h3>
              <p x-bind:class="selected === 1 ? 'max-h-56 pt-4' : 'max-h-0 opacity-0'" class="overflow-hidden transition-[max-height] transition-opacity duration-200 ease-in-out">
                Klerk er baseret i EU, hvilket betyder, at dine data er sikre og overholder de nærmeste regler.
              </p>
            </div>
            <div role="button" tabindex="0" x-on:click="selected = 2" x-bind:class="selected === 2 ? 'bg-stone-50/10' : 'bg-transparent'" class="flex flex-col rounded-3xl hover:bg-stone-50/10 py-4 px-6 transition duration-200 ease-in-out">
              <h3 class="text-xl text-balance flex items-center">
                <span data-lucide="shield-check" class="w-5 h-5 inline-block mr-2"></span>
                Sikker kryptering
              </h3>
              <p x-bind:class="selected === 2 ? 'max-h-56 pt-4' : 'max-h-0 opacity-0'" class="overflow-hidden transition-[max-height] transition-opacity duration-200 ease-in-out">
                Klerk bruger de seneste krypterings- og sikkerhedsprotokoller for at sikre, at dine data er sikre.
              </p>
            </div>
            <div role="button" tabindex="0" x-on:click="selected = 3" x-bind:class="selected === 3 ? 'bg-stone-50/10' : 'bg-transparent'" class="flex flex-col rounded-3xl hover:bg-stone-50/10 py-4 px-6 transition duration-200 ease-in-out">
              <h3 class="text-xl text-balance flex items-center">
                <span data-lucide="handshake" class="w-5 h-5 inline-block mr-2"></span>
                Din data er din
              </h3>
              <p x-bind:class="selected === 3 ? 'max-h-56 pt-4' : 'max-h-0 opacity-0'" class="overflow-hidden transition-[max-height] transition-opacity duration-200 ease-in-out">
                Din data er din. Vi vil aldrig sælge din data eller videregive den til tredjepart uden dit udtrykkelige samtykke.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container max-w-screen-xl mx-auto py-20">
    <div class="max-w-screen-md mx-auto flex flex-col gap-y-10 items-center justify-center text-center">
      <div>
        <h2 class="text-5xl text-balance">
          FAQ
        </h2>
      </div>
      <div class="w-full flex flex-col bg-stone-200/50 rounded-2xl divide-y divide-white justify-start text-left">
        {% for question in page.questions %}
          <div x-data="{ open: false }" class=" flex flex-col">
            <div role="button" tabindex="0" class="cursor-pointer flex items-center justify-between p-4" x-on:click="open = !open">
              <h3 class="text-xl text-balance">
                {{ question.label }}
              </h3>
              <span data-lucide="chevron-down" class="w-5 h-5 inline-block ml-auto transition-transform duration-200 ease-in-out" x-bind:class="open ? 'rotate-180' : ''"></span>
            </div>
            <div x-show="open" class="px-4 pb-6">
              <p class="text-lg text-stone-600">
                {{ question.answer }}
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section> 
  
  <section class="container max-w-screen-xl mx-auto px-6 py-20 rounded-3xl">
    <div class="flex flex-col gap-y-10 items-center justify-center text-center">
      <h2 class="text-5xl md:text-7xl text-balance pt-10 font-medium">
        Kom i gang med Klerk
      </h2>
      <p class="text-xl text-stone-700 max-w-screen-sm text-balance">
        Klerk er en game-changer for din dokumentgennemgang. Det er hurtigere og mere præcist end hvordan du gør det nu.
      </p>
      <a href="{{ site.access_url }}" class="group bg-stone-900 text-stone-50 px-5 py-3 rounded-3xl flex items-center hover:bg-stone-800 transition-colors duration-200 ease-in-out">
        Anmod om adgang
        <span data-lucide="arrow-right" class="w-5 h-5 stroke-1 inline-block ml-2 group-hover:translate-x-1 transition-transform duration-200 ease-in-out"></span>
      </a>
    </div>
  </section>
</div>
