<nav class="fixed z-50 inset-x-0 top-0 h-14 px-6 flex items-center justify-between bg-white md:bg-transparent">
  <a href="{{ site.url | relative_url }}">
    <img src="{{ site.baseurl }}/assets/images/logo.svg" alt="Klerk" class="w-auto h-4">
  </a>
  <div class="flex items-center gap-x-6 text-sm">
    <a href="#about" class="hidden hover:underline">Om os</a>
    <a href="#product" class="hidden hover:underline">Produktet</a>
    <a href="{{ site.access_url }}" class="bg-zinc-900 hover:bg-zinc-800 text-stone-50 px-3 py-1 rounded-full">Anmod om adgang</a>
  </div>
</nav>
