<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}" >
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    {% if page.title == site.title %}
      {% assign title = site.title %}
    {% else %}
      {% assign title = page.title | append: " | " | append: site.title %}
    {% endif %}
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Baskervville" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://unpkg.com/lucide@latest"></script>

    <!-- Meta tags for social sharing -->
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ page.description | default: site.description }}">
    <meta property="og:image" content="{{ '/assets/images/social-share.png' | absolute_url }}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ page.description | default: site.description }}">
    <meta name="twitter:image" content="{{ '/assets/images/social-share.png' | absolute_url }}">
    <meta name="twitter:image:width" content="1200">
    <meta name="twitter:image:height" content="600">
  </head>
  <body class="antialiased tracking-tight bg-neutral-50" x-init="console.log('It\'s alive!')">
    <main class="flex flex-col min-h-dvh">
      {% include navigation.html %}
      <div class="grow flex flex-col">
        <div class="flex-grow">
          {{ content }}
        </div>
        {% include footer.html %}
      </div>
    </main>

    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      lucide.createIcons();
    </script>
  </body>
</html>
